<h3>What's a Now Page?</h3>
A <a href="https://nownownow.com/about">now page</a> is a brief update on what's relevant in my life right now, rather than information about me generally. Maybe you'd like to:
</br>
</br>
    <ul>
        <li><a href="/feed/now.xml">subscribe to future updates</a> via RSS/Atom</li>
        <li><a href="/now/archive">browse an archive</a> of past updates</li>
        <li><a href="/about-me">learn more about me generally</a> on my aptly named "About Me" page.</li>
    </ul>
</small>
</p>